.button{
  background-color: black;
	width: 130px;
	height: 60px;
  color: white;
  outline: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.block-display button{
  margin-bottom:5px;
  display:block;
}

.button:hover{
  /* background-color: #32CD32; */
  background-color: yellow;
  color: black;
}

.reserved-button{
  background-color: greenyellow;
  color: black;
}

.box {      
  display: inline-block;
}

.rightPaddingLabel {      
  padding-right: 5px; 
}